@page "/vehicle/index"
@using AutoOABlazor.Client.Shared.Components
@using Syncfusion.Blazor.Notifications
@using AutoOA.Core;
@inject VehicleService VehicleService
@inject NavigationManager Navigation
@inject HttpClient Http

<PageTitle>Vehicle</PageTitle>

<h3>Vehicle</h3>

@if (Vehicles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Region</th>
                <th>BodyType</th>
                <th>VehicleModel</th>
                <th>ProductionYear</th>
                <th>GearBox</th>
                <th>DriveType</th>
                <th>StateNumber</th>
                <th>NumberOfSeats</th>
                <th>NumberOfDoors</th>
                <th>Price_USD</th>
                <th>Prise_UAH</th>
                <th>Price_EUR</th>
                <th>isNew</th>
                <th>MileageIconPath</th>
                <th>Mileage</th>
                <th>VehicleIconPath</th>
                <th>FuelType</th>
                <th>Color</th>
                <th>Description</th>
                <th>SalesData</th>
                <th>User</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var veh in Vehicles)
            {
                <tr>
                    <td>@veh.VehicleId</td>
                    <td>@veh.Region.RegionName</td>
                    <td>@veh.BodyType.BodyTypeName</td>
                    <td>@veh.VehicleModel.VehicleModelName</td>
                    <td>@veh.ProductionYear</td>
                    <td>@veh.GearBox.GearBoxName</td>
                    <td>@veh.DriveType.DriveTypeName</td>
                    <td>@veh.NumberOfSeats</td>
                    <td>@veh.NumberOfDoors</td>
                    <td>@veh.Price_USD</td>
                    <td>@veh.Price_UAH</td>
                    <td>@veh.Price_EUR</td>
                    <td>@veh.isNew</td>
                    <td>@veh.MileageIconPath</td>
                    <td>@veh.Mileage</td>
                    <td>@veh.VehicleIconPath</td>
                    <td>@veh.FuelType.FuelTypeName</td>
                    <td>@veh.Color</td>
                    <td>@veh.Description</td>
                    <td>@veh.SalesData.SalesDataId</td>
                    <td>@veh.User.FirstName</td>
                    <td>@veh.User.LastName</td>
                </tr>
            }
        </tbody>
    </table>
}



@code {        
    private IEnumerable<VehicleReadDto> Vehicles = null;

    protected override async Task OnInitializedAsync()
    {
        Vehicles = await VehicleService.GetVehiclesAsync();
    }

    

    void ShowHero(int id)
    {
        Navigation.NavigateTo($"/vehicles/{id}");
    }
    
    void CreateNewVehicle()
    {
        Navigation.NavigateTo("/vehicles/");
    }


}