@page "/vehicle/index"
@using AutoOABlazor.Client.Shared.Components
@using Syncfusion.Blazor.Notifications
@using AutoOA.Core;
@inject VehicleService VehicleService
@inject NavigationManager Navigation
@inject HttpClient Http

<PageTitle>Vehicle</PageTitle>

<h3>Vehicle</h3>

@if (Vehicles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Регіон</th>
                <th>Тип кузова</th>
                <th>Модель автомобіля</th>
                <th>Рік виробництва</th>
                <th>Коробка передач</th>
                <th>Тип приводу</th>
                <th>Державний номер</th>
                <th>Кількість місць</th>
                <th>Кількість дверей</th>
                <th>Ціна_USD</th>
                <th>Ціна_ГРН</th>
                <th>Ціна_EUR</th>
                <th>Стан машини</th>
                <th>Пробіг</th>
                <th>Тип палива</th>
                <th>Колір</th>
                <th>Опис</th>
                <th>Дані про продажі</th>
                <th>Пошта продавця</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var veh in Vehicles)
            {
                <tr>
                    <th>@veh.VehicleId</th>
                    <td>@veh.Region.RegionName</td>
                    <td>@veh.BodyType.BodyTypeName</td>
                    <td>@veh.VehicleModel.VehicleModelName</td>
                    <td>@veh.ProductionYear</td>
                    <td>@veh.GearBox.GearBoxName</td>
                    <td>@veh.DriveType.DriveTypeName</td>
                    <td>@veh.StateNumber</td>
                    <td>@veh.NumberOfSeats</td>
                    <td>@veh.NumberOfDoors</td>
                    <td>@veh.Price_USD</td>
                    <td>@veh.Price_UAH</td>
                    <td>@veh.Price_EUR</td>
                    <td>@veh.isNew</td>
                    <td>@veh.Mileage</td>
                    <td>@veh.FuelType.FuelTypeName</td>
                    <td>@veh.Color</td>
                    <td>@veh.Description</td>
                    <td>@veh.SalesData.CreatedOn</td>
                    <td>@veh.User</td>
                </tr>
            }
        </tbody>
    </table>
}



@code {        
    private IEnumerable<VehicleReadDto> Vehicles = null;

    protected override async Task OnInitializedAsync()
    {
        Vehicles = await VehicleService.GetVehiclesAsync();
    }

    

    void ShowHero(int id)
    {
        Navigation.NavigateTo($"/vehicle/{id}");
    }
    
    void CreateNewVehicle()
    {
        Navigation.NavigateTo("/vehicle/");
    }


}